<div class="container">


    <simple-navbar></simple-navbar>

    <!-- Container -->
    <div class="row">


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li role="presentation" ng-class="tipoTarefa=='disponiveis'?'active':''"><a href="#tarefas/disponiveis">Disponíveis</a></li>
                        <li role="presentation" ng-class="tipoTarefa=='emCurso'?'active':''"><a href="#tarefas/emCurso">Em curso</a></li>
                        <li role="presentation" ng-class="tipoTarefa=='minhasTarefas'?'active':''"><a href="#tarefas/minhasTarefas">Minhas Tarefas</a></li>
                        <li role="presentation" ng-class="tipoTarefa=='historico'?'active':''"><a href="#tarefas/historico">Histórico</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <!-- interior ao menu -->
                    <!-- <div id="Filtros">

                    <label><input type="checkbox" ng-model="filtroMarketing" value=""> Marketing</label> | <label><input type="checkbox" ng-model="filtroMarketing" value=""> Projetos</label>
                    <select name="classe" class="form-control"  ng-model="cl.classe" ng-options="classe.nomeClasse for classe in listaClasse"   required ></select>
                  </div> -->
                    <table align="center" class="table">
                      <div class="alert alert-success" ng-if="alerta == false" style="margin: 8px;" role="alert"><b>Parabéns!</b> Tarefa editada com sucesso.</div>

                        <tr>
                            <th>Tarefa</th>
                            <th>Status</th>
                            <th>Criador</th>
                            <th>Criada</th>
                            <th>Entrega</th>
                            <th>Opções</th>
                        </tr>

                        <tr ng-repeat="tar in listaTarefa">
                            <!-- Roda toda a listaTarefa mostrando seus atributos e colocando nas funções abaixo os parametros -->
                            <td>{{tar.titulo}}</td>
                            <td>{{tar.statusTarefa}}</td>
                            <td>{{tar.criador}}</td>
                            <td>{{tar.dataCriacao}}</td>
                            <td>{{tar.dataFinal}}</td>
                            <td>
                                <button type="button" ng-click="editarTarefa(tar.id)" class="btn btn-default btn-xs" data-toggle="modal" ng-disabled="tar.idCriador!=idUser || tar.idStatusT!=1" data-target="#myModal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</button>
                                <button type="button" ng-click="confirmacaoCancelar(tar.id)" ng-disabled="tar.idCriador!=idUser" class="btn btn-default btn-xs">
                                  <!-- Ao clicar no botão a função cancelarTarefa é chamada passando como parametro o id da tarefa -->
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
                                </button>
                                <button type="button" ng-click="confirmacaoFinalizar(tar.id)" ng-disabled="tar.idPegou!=idUser" class="btn btn-default btn-xs">
                                  <!-- Ao clicar no botão a função finalizarTarefa é chamada passando como parametro o id da tarefa -->
                                  <span class="glyphicon" aria-hidden="true">&#xe067;</span> Finalizar
                                </button>
                            </td>
                            <!-- <td>
                                <span ng-hide="variavelConfirmacaoFinalizar && idConfirmacaoFinalizar==tar.id">Confirma a finalização?</span> <button type="button" ng-click="finalizarTarefa(tar.id)" ng-if="variavelConfirmacaoFinalizar && idConfirmacaoFinalizar==tar.id"
                                    class="btn btn-default btn-xs">
                                <span class="glyphicon" aria-hidden="true">&#xe067;</span> Sim
                              </button>
                                <span ng-hide="variavelConfirmacaoCancelar && idConfirmacaoCancelar==tar.id">Confirma o cancelamento?</span> <button type="button" ng-click="cancelarTarefa(tar.id)" ng-if="variavelConfirmacaoCancelar && idConfirmacaoCancelar==tar.id"
                                    class="btn btn-default btn-xs">
                                <span class="glyphicon" aria-hidden="true">&#xe067;</span> Sim
                              </button>
                            </td> -->
                            <!-- Modal -->

                        </tr>
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <center><h4 class="modal-title">Editar Tarefa</h4></center>
                                    </div>
                                    <div class="modal-body">
                                      <div class="alert alert-success" ng-if="alerta == false" style="margin-bottom: 12px;" role="alert"><b>Parabéns!</b> Tarefa <b>{{tarefa.titulo}}</b> editada com sucesso .</div>
                                      <div class="alert alert-danger" ng-if="alerta == true" style="margin-bottom: 12px;" role="alert"><b>Erro</b> na edição da tarefa <b>{{tarefa.titulo}}</b>.</div>

                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><b>Tarefa:   ㅤㅤ </b></span>
                                            <input type="text" class="form-control" value="{{tarefa.titulo}}" aria-describedby="basic-addon1" ng-model="tarefa.titulo">
                                        </div><br>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><b>Descrição:</b></span>
                                            <textarea name="comentário" class="form-control" placeholder="" rows="10" cols="40" ng-model="tarefa.descricao"></textarea>
                                        </div><br>
                                        <input type="checkbox" ng-model="tarefa.tarefaFixa" aria-label=""><span class="" id="basic-addon1"><b>  Tarefa fixa</b></span><br></br>
                                        <div class="input-group">
                                            <!-- <span class="input-group-addon" id="basic-addon1"><b>Bônus:   ㅤ </b></span>
                                            <input type="text" class="form-control" placeholder="00" aria-describedby="basic-addon1"> -->

                                            <span class="input-group-addon" id="basic-addon1"><b>Prazo:   ㅤㅤ </b></span>
                                            <input type="date" ng-disabled="tarefa.tarefaFixa" class="form-control" placeholder="00/00/00" aria-describedby="basic-addon1" ng-model="tarefa.dataPrazo">

                                        </div>

                                        <div class="list-group">
                                            </br>
                                            <div class="item">

                                            </div>

                                            <div class="item">
                                                <label class="item item-select " id="cadastro-select13">  <span class="input-label">Classe</span>
                                          <select name="classe" class="form-control"  ng-model="cl.classe" ng-options="classe.nomeClasse for classe in listaClasse"   required >
                                        </select><br>
                                      </div>
                                    </div>
                                    </div>
                                    <center><button type="button" ng-click="enviarEditarTarefa()" class="btn btn-default" ng-disabled="tarefa.titulo==null || tarefa.descricao==null || cl.classe==null ">Editar</button></center>
                                    <br><br><!-- <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div> -->
                                </div>

                            </div>
                        </div>
                        <!-- interior ao menu -->
                </div>
            </div>
        </div>
    </div>
    <!-- Container -->
</div>
