<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gamefication - Recode Jr</title>


    <link href="css/bootstrap.min.css" rel="stylesheet">


  </head>
  <body>

    <div class="container-fluid">

      <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <font class="navbar-brand">Gamefication</font>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informações <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Gerais</a></li>
              <li><a href="#">Classes</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
      </nav>

      <!-- Container -->
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6" style="margin-top: 25px;">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><center>Menu</center></h3>
                </div>
                <div class="panel-body">
                  <!-- interior ao menu -->

                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          <!-- caractere em branco após o span tarefa -->
                          <div class="input-group">
  <span class="input-group-addon" id="basic-addon1"><b>Tarefa:   ㅤㅤ </b></span>
  <input type="text" class="form-control" placeholder="Digite o nome da tarefa" aria-describedby="basic-addon1">
                          </div>
                       </th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>
                          <!-- Campo de texto grande 10 linhas x 40 colunas -->
                          <div class="input-group">
  <span class="input-group-addon" id="basic-addon1"><b>Descrição:</b></span>
  <textarea name="comentário" class="form-control" placeholder="Digite a descrição da tarefa" rows="10" cols="40"></textarea>
                          </div>
                      <tr>
                        <td>
                          <!-- pontos e prazo na mesma div -->
                          <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><b>Pontos:   ㅤ </b></span>
                        <input type="text" class="form-control" placeholder="00" aria-describedby="basic-addon1">

                        <span class="input-group-addon" id="basic-addon1"><b>Prazo:   ㅤㅤ </b></span>
                        <input type="date" class="form-control" placeholder="00/00/00" aria-describedby="basic-addon1">
                          </div>


                        </td>


                      </tr>
                    </tbody>
                  </table>

                      <div>
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Níveis
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Trivial</a></li>
                            <li><a href="#">Fácil</a></li>
                            <li><a href="#">Médio</a></li>
                            <li><a href="#">Difícil</a></li>

                          </ul>
                               <!-- Caracteres em branco para separar o ADD dos níveis -->
                               ㅤ ㅤㅤㅤ ㅤㅤㅤ ㅤㅤㅤ ㅤㅤㅤㅤ ㅤㅤㅤ ㅤㅤㅤ ㅤㅤㅤ ㅤㅤㅤ ㅤㅤ
                      <button align="right" type="button" class="btn btn-default">ADD</button>
                      </div>
                  <!-- interior ao menu -->
                </div>
            </div>

          </div>
          <div class="col-md-3"></div>
      </div>
      <!-- Container -->
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
