<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gamefication - Recode Jr</title>
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    
    <body>
            <nav class="navbar navbar-default">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <font class="navbar-brand">Gamefication</font>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informações <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Gerais</a></li>
                            <li><a href="#">Classes</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
      </nav>
        
            <div class="container">
        <div class="row">
            
            <div class="col-md-4">
              <div class="panel panel-primary" align="center">
              <div class="panel-body">
              <b><h3 id="nome-user">Username</h3></b>
              </div>
              <div class="panel-footer">
                <img src="img/habitica.png" id="picture-user" style="width:75px;height:75px;"/>
                <p id="points-user"><b>999</b> pontos</p>
                <b><p id="class-user">User class</p></b>
              </div>
              </div>
            </div>
            
            
            <div class="col-md-6">

              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h3 class="panel-title"><center>Ranking Gamefication</center></h3>
                  </div>
                  <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><center>Posição</center></th>
                                    <th><center>Usuário</center></th>
                                    <th><center>Pontuação</center></th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <td><center><img src="img/medalha_ouro.png"></center></td>
                                    <td><center><img src="img/default_user.png" class="img-thumbnail" width="50" height="50">username</center></td>
                                    <td><center>0</center></td>
                                </tr>
                                <tr>
                                    <td><center><img src="img/medalha_prata.png"></center></td>
                                    <td><center><img src="img/default_user.png" class="img-thumbnail" width="50" height="50">username</center></td>
                                    <td><center>0</center></td>
                                </tr>
                                <tr>
                                    <td><center><img src="img/medalha_bronze.png"></center></td>
                                    <td><center><img src="img/default_user.png" class="img-thumbnail" width="50" height="50">username</center></td>
                                    <td><center>0</center></td>
                                </tr>
                                <tr>
                                    <td><center>4</center></td>
                                    <td><center><img src="img/default_user.png" class="img-thumbnail" width="50" height="50">username</center></td>
                                    <td><center>0</center></td>
                                </tr>
                                <tr>
                                    <td><center>5</center></td>
                                    <td><center><img src="img/default_user.png" class="img-thumbnail" width="50" height="50">username</center></td>
                                    <td><center>0</center></td>
                                </tr>
                                <tr>
                                    <td><center>6</center></td>
                                    <td><center><img src="img/default_user.png" class="img-thumbnail" width="50" height="50">username</center></td>
                                    <td><center>0</center></td>
                                </tr>
                                <tr>
                                    <td><center>7</center></td>
                                    <td><center><img src="img/default_user.png" class="img-thumbnail" width="50" height="50">username</center></td>
                                    <td><center>0</center></td>
                                </tr>
                                <tr>
                                    <td><center>8</center></td>
                                    <td><center><img src="img/default_user.png" class="img-thumbnail" width="50" height="50">username</center></td>
                                    <td><center>0</center></td>
                                </tr>
                                <tr>
                                    <td><center>9</center></td>
                                    <td><center><img src="img/default_user.png" class="img-thumbnail" width="50" height="50">username</center></td>
                                    <td><center>0</center></td>
                                </tr>
                                <tr>
                                    <td><center>10</center></td>
                                    <td><center><img src="img/default_user.png" class="img-thumbnail" width="50" height="50">username</center></td>
                                    <td><center>0</center></td>
                                </tr>
                            </tbody>
                        </table>

                  </div>
              </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    </body>
</html>